.main-form{
    width: 300px;
    padding: 10px;
    margin: auto;
    background-color: #e3f2fd;
}
.col-lg-6{
    width: 50%;
}
.formbtn{
    width: 120px;
    padding: 5px;
    font-size: 13px;
    border: 1px solid #1976d2;
    background-color: #1976d2;
}
.form-wrapper{
    padding:20px;
}